.kanjia {
  width: 100%;
  overflow: hidden;
  background: -webkit-linear-gradient(top right, #B5A179, #DED1B5);
  padding-bottom: rem(42);
  .header {
    color: white;
    img {
      width: rem(120);
      height: rem(120);
      border-radius: 50%;
      margin-top: rem(120);
    }
    span {
      display: block;
      font-size: rem(32);
      margin: 0 0 rem(27) 0;
    }
    p {
      font-size: rem(24);
    }
  }
  .el-card {
    background: #F6EDDE;
    border: 0;
  }
  .el-col-24 {
    width: 90%;
    float: none;
    margin: rem(50) auto;
    font-size: rem(32);
    text-align: left;
    .image {
      width: rem(120);
      float: left;
      margin:rem(24) rem(24) 0 rem(24);
    }
    p {
      margin-top: rem(40);
      font-size: rem(24);
      i {
        font-style: normal;
        color: #BEAD89;
      }
      u {
        text-decoration: none;
        color: #B2AFAC;
        float: right;
      }

    }
  }
  .price {
    color: white;
    font-size: rem(24);
  }
  .kanjia-btn {
    margin-top: rem(36);
  }
  .kan-btn-active {
    background: #B4A078;
    color: white;
    border: 1px #B4A078 solid;
  }
  .kan-btn-request {
    background: #CCBC9B;
    border: 1px #B4A078 solid;
    color: white;
  }
}
